@import url('../index.css');


.notification-unread,
.notification{
    width: 100%;
    padding:18px;
    border-radius: 8px;
    display: flex;
    gap: 19px;
    cursor: pointer;
    transition: 250ms ease;

    &:hover{
        border: 1px solid var(--blue)
    }
}

.avatar{
    width: 3em;
    height: 3rem;
}

.username,
.text,
.post{
    display: inline;  
}

.username{
    font-weight: 800;
}
.text,
.post{
    margin-left: 0.25rem;
    color: var(--dark-graysh-blue);
}
.post{
    font-weight: 800;
}

