@import url('../index.css');


.notification-unread,
.notification{
    width: 100%;
    padding:18px;
    border-radius: 8px;
    display: flex;
    gap: 19px;
    cursor: pointer;
    transition: 250ms ease;

    &:hover{
        background-color: var(--light-gray); /* Change background color */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box-shadow */
    }
}

.notification-unread{
    background-color: var(--very-light-blue);
}

.avatar{
    width: 3em;
    height: 3rem;
}

.username,
.text,
.post,
.group{
    display: inline;  
}

.username{
    font-weight: 800;
}
.text,
.post{
    margin-left: 0.25rem;
    color: var(--dark-graysh-blue);
}

.post,
.group{
    font-weight: 800;
}

.group{
    margin-left: 0.25rem;
    color: var(--blue);
}

.alert-dot{
    background-color: var(--red);
    display: inline-block;
    margin-left: 7px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.timestamp{
    color: var(--graysh-blue);
}

.private-msg{
    margin-top: 0.7rem;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid var(--light-blue-1);
    color: var(--dark-graysh-blue);
}

